.header {
  justify-content: space-between;
  text-align: center;
  width: 100%;
  padding-top: 1em;
  position: fixed;
  top: 0;
  height: 40px;
  z-index: 1;
}
.header-background {
  background-image: radial-gradient(at top, rgba(255, 255, 255, 0.8), #2089f7);
  box-shadow: 0 0 10px 2px black;
}
.site-title {
  color: #D0D1D5;
  text-shadow: 2px 2px black;
  display: inline;
  @media all and (max-width: 700px) {
    display: none;
  }
}
