@import 'vars';
@import 'mixins';
@import 'header';
@import 'footer';

html {
  box-sizing: border-box;
  font-size: 18px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body, ul, div, nav, h1, h2 {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
li {
  display: inline;
}
h1, h2 {
  margin: 0 1em;
}
img {
  width: 100%;
}
a {
  color: black;
  text-decoration: none;
}
section {
  padding: 40px 10px 20px 20px;
  margin: 0 auto;
}
section:nth-child(even) {
  background: $color-trans-white;
}
