.about {
  height: 100vh;
  text-align: center;
  padding-top: 34vh;
  background-image: radial-gradient(at top, rgba(255, 255, 255, 0.8), rgb(32, 137, 247));
}
.about-info {
  -webkit-transition: -webkit-filter .5s;
  transition: filter .5s;
}
.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.skills {
  background-image: url("../assets/icons/code10.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center center;
}
.skills-heading {
  margin: 0;
  padding: 10px 0;
}
.skills-heading-fixed {
  position: fixed;
  top: 40px;
  background: white;
}
.skills-placeholder {
  height: 1px;
}
.skills-list {
  display: table;
  > li {
    padding: 10px 0;
    display: block;
  }
  >li:before {
    padding: 5px;
    margin: 5px;
    background-color: #E6E6E6;
    border-radius: 50%;
  }
}
.projects {
  background-color: rgba(198, 198, 198, 0.53);
}
