.icon {
  > svg {
    width: 25px;
  }
}
.container {
  z-index: 0;
  position: relative;
  width: 100%;
  padding: 40px 10px 20px 20px;
  
}
.image {
  text-decoration: none;
  > img {
    width: 30vw;
  }
}
.section-link {
  width: 4em;
}
