.icon {
  > svg {
    width: 25px;
  }
}
.container {
  background-color: #fff;
  z-index: 0;
  position: relative;
  width: 100%;
  padding: 40px 10px 20px 20px;
}
.image {
  > img {
    width: 100%;
  }
}
.section-link {
  width: 4em;
}
