$color-grey: #F4F4F4;
$color-link: #828282;
$color-white: white;
$color-trans-grey:  rgba(136, 136, 136, .2);
$color-trans-white: rgba(255, 255, 255, .5);
$width-mobile: 500px;
$height-header: 50px;
$header-offset: -50px;
